node_modules
.DS_Store
.idea
.eslintcache

lib
dist
dist-ssr
docs
coverage
test-results
.pnpm-store
pnpm-lock.yaml
tsconfig.tsbuildinfo
.babel-cache
.env
*.local
*.cache
*error.log
*debug.log
*err.log
stats.html
.cspell
.cspellcache
.husky
.prettierignore
.gitignore
